* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Agrandir";
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
span::selection,
button::selection {
  background-color: #e11b70;
  color: white;
}

/* header CSS */

header {
  z-index: 10;
  position: sticky;
  top: 0;
}

/* top banner */

header .top-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  background-color: #e11b70;
  padding: 0.3vw 0;
}

header .top-banner svg {
  width: 2%;
  filter: invert(100%) sepia(76%) saturate(221%) hue-rotate(234deg)
    brightness(114%) contrast(100%);
}

header .top-banner p {
  color: white;
  font-size: 1vw;
  font-weight: bold;
}

header .top-banner button {
  background-color: #e11b70;
  border: 1px solid white;
  color: white;
  font-size: 0.6vw;
  padding: 0.4vw 0.8vw;
  cursor: pointer;
  border-radius: 0.2vw;
  font-weight: bold;
}

/* nav CSS */

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

header nav .nav-in-wrap {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw 0;
}

header nav .left-side-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

header nav .right-side-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

header nav .right-side-nav .nli {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 0.8vw;
  padding: 0.28vw 0.8vw;
  cursor: pointer;
  border-radius: 0.3vw;
  font-weight: bold;
}

header nav .right-side-nav .nsu {
  background-color: #e11b70;
  border: 1px solid white;
  color: white;
  font-size: 0.8vw;
  padding: 0.3vw 0.8vw;
  cursor: pointer;
  border-radius: 0.3vw;
  font-weight: bold;
}

header nav .right-side-nav-language-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

.fl-interaction-primary {
  fill: #e11b70;
}

/* main CSS */

/* Hero Section */

main .hero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f7f7f7;
}

main .hero-left {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  width: 40vw;
}

main .hero-left h1 {
  font-size: 1.6vw;
  font-weight: 900;
  color: #323232;
}

main .hero-right img {
  width: 100%;
}

main .hero-right {
  width: 40vw;
}

.search-location-div {
  display: flex;
  gap: 1vw;
  background-color: white;
  box-shadow: 0 0.188rem 1.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.8vw;
  padding: 0.8vw;
}

.search-div {
  position: relative;
  display: flex;
  width: 75%;
}

.search-div input {
  border: none;
  outline: 1px solid rgb(161, 161, 161);
  font-size: 0.7vw;
  padding: 0.2vw 0;
  width: 100%;
  border-radius: 0.4vw;
}

.search-div p {
  font-size: 1vw;
  color: #707070;
  position: absolute;
  left: 0.7vw;
  top: 0.4vw;
}

.search-div svg {
  position: absolute;
  right: 5.8vw;
  top: 0.4vw;
  cursor: pointer;
  fill: #e11b70;
}

.search-div h6 {
  position: absolute;
  top: 0.4vw;
  right: 2%;
  cursor: pointer;
  font-size: 1vw;
  font-weight: bold;
}

.search-location-div button {
  background-color: #e11b70;
  border: 1px solid white;
  color: white;
  font-size: 1vw;
  padding: 0.5vw 1.2vw;
  cursor: pointer;
  border-radius: 0.4vw;
  font-weight: bold;
}

/* Section 1 */

main .section1 {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2vw;
  padding: 2vw 0;
  background-color: white;
  margin-top: 3vw;
}

main .section1 h1 {
  font-size: 1.6vw;
  font-weight: 900;
  color: #323232;
}

main .section-1-img-div {
  width: 100vw;
  height: 15vw;
  overflow: hidden;
  background-image: url(./images/section-1-img.png);
  background-position: center;
  background-size: cover;
}

main .section-1-text-div {
  width: 80%;
}

main .section-1-card-div {
  width: 80%;
}

main .section-1-card {
  width: 35%;
  background-color: white;
  box-shadow: 0 0.188rem 1.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.8vw;
  padding: 1vw;
  position: relative;
  top: -8vw;
}

main .section-1-card h3 {
  font-size: 1vw;
  font-weight: 900;
  color: #323232;
  margin-bottom: 1vw;
}

main .section-1-card p {
  font-size: 0.8vw;
  color: #707070;
  margin-bottom: 1vw;
}

main .section-1-card button {
  background-color: #e11b70;
  border: 1px solid white;
  color: white;
  font-size: 0.8vw;
  padding: 0.5vw 1.2vw;
  cursor: pointer;
  border-radius: 0.4vw;
  font-weight: bold;
}

/* Section 2 */

main .sectoin2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .sectoin2 .section-2-wrap {
  width: 60vw;
}

main .sectoin2 h1 {
  font-size: 1.6vw;
  font-weight: 900;
  color: #323232;
  margin-bottom: 2vw;
}

main .sectoin2 .section-2-locations-div {
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(4, 1fr);
}

main .sectoin2 .location {
  position: relative;
}

main .sectoin2 .location img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.8vw;
  object-fit: cover;
}

main .sectoin2 .location-name-tag {
  position: absolute;
  bottom: 1vw;
  left: 0.8vw;
  background-color: white;
  font-size: 0.8vw;
  font-weight: bold;
  padding: 0.4vw 0.8vw;
  border-radius: 0.4vw;
}

/* Section 3 */

main .secttion3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vw;
}

main .secttion3 .section-3-wrap {
  width: 60vw;
  position: relative;
}

main .secttion3 .section-3-wrap > img {
  position: absolute;
  right: 1vw;
  top: 0vw;
  width: 30vw;
}

main .secttion3 h1 {
  font-size: 1.5vw;
  font-weight: 900;
  color: #323232;
  margin-bottom: 1vw;
}

main .secttion3 .section-3-download-section {
  display: flex;
  padding: 2vw;
  background-color: #e11b70;
  border-radius: 0.8vw;
}

main .secttion3 .section-3-download-section-left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

main
  .secttion3
  .section-3-download-section-left-side
  .section-3-middle-layer
  .section-3-img-div {
  width: 20%;
  border-radius: 0.4vw;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw;
}

main
  .secttion3
  .section-3-download-section-left-side
  .section-3-middle-layer
  .section-3-img-div
  img {
  width: 100%;
}

main .secttion3 .section-3-download-section-left-side h2 {
  font-size: 1.2vw;
  font-weight: 900;
  color: white;
}

main .secttion3 .section-3-download-section-left-side p {
  font-size: 0.8vw;
  color: white;
  margin-bottom: 1vw;
}

main .secttion3 .section-3-download-section-left-side .section-3-middle-layer {
  display: flex;
  align-items: center;
  gap: 1vw;
}

main
  .secttion3
  .section-3-download-section-left-side
  .section-3-middle-layer
  p {
  font-size: 0.8vw;
  color: white;
  margin-bottom: 1vw;
  width: 70%;
}

main .secttion3 .section-3-download-section-left-side .section-3-last-layer {
  display: flex;
  align-items: center;
  gap: 1vw;
}

main .secttion3 .section-3-download-section-right-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .secttion3 .section-3-download-section-right-side img {
  width: 120%;
}

/* Section 4 */

main .section4 {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2vw;
  padding: 2vw 0;
  background-color: white;
  margin-top: 3vw;
}

main .section4 h1 {
  font-size: 1.6vw;
  font-weight: 900;
  color: #323232;
}

main .section-4-img-div {
  width: 100vw;
  height: 15vw;
  overflow: hidden;
  background-image: url(./images/section-4-img.png);
  background-position: center;
  background-size: cover;
}

main .section-4-text-div {
  width: 80%;
}

main .section-4-card-div {
  width: 80%;
}

main .section-4-card {
  width: 35%;
  background-color: white;
  box-shadow: 0 0.188rem 1.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.8vw;
  padding: 1vw;
  position: relative;
  top: -8vw;
}

main .section-4-card h3 {
  font-size: 1vw;
  font-weight: 900;
  color: #323232;
  margin-bottom: 1vw;
}

main .section-4-card p {
  font-size: 0.8vw;
  color: #707070;
  margin-bottom: 1vw;
}

main .section-4-card button {
  background-color: #e11b70;
  border: 1px solid white;
  color: white;
  font-size: 0.8vw;
  padding: 0.5vw 1.2vw;
  cursor: pointer;
  border-radius: 0.4vw;
  font-weight: bold;
}

/* Section 5 */

main .section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 0;
  background-color: white;
}

main .section-5-wrap {
  width: 55vw;
}

main .section-5-wrap h1 {
  font-weight: 900;
  color: #323232;
  margin-bottom: 1vw;
}

main .section-5-wrap p {
  color: #707070;
  margin-bottom: 1vw;
}

main .section-5-wrap h3 {
  font-weight: 900;
  color: #323232;
  margin-bottom: 1vw;
}

main .section-5-wrap ul {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  list-style: none;
  margin-bottom: 1vw;
}

main .section-5-wrap ul li {
  font-size: 0.8vw;
  color: #707070;
}

main .section-5-wrap ul li span {
  color: #e11b70;
  margin-right: 0.3vw;
}

main .section-5-wrap p span {
  color: #e11b70;
  text-decoration: underline;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-wrap {
  width: 60vw;
}

footer .footer-wrap .footer-divider {
  border-bottom: 1px solid #d6d6d683;
  margin: 2vw 0;
}

footer .footer-wrap p {
  font-size: 0.8vw;
  margin: 1vw 0;
}

footer .footer-wrap p span {
  text-decoration: underline;
}

footer .footer-middle-layer {
  display: flex;
  justify-content: space-between;
  margin: 1vw 0;
}

footer .footer-middle-layer ul {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  list-style: none;
}

footer .footer-middle-layer ul li {
  font-size: 0.8vw;
  text-decoration: underline;
}

footer .footer-last-layer {
  display: flex;
  justify-content: space-between;
  margin: 1vw 0;
}

footer .footer-last-layer .footer-last-layer-left {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

footer .footer-vertical-divider {
  border-left: 1px solid #31313183;
  height: 140%;
  margin: 0 1vw;
}

footer .footer-last-layer .footer-last-layer-right {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

footer .footer-last-layer .footer-last-layer-right .footer-svg-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5vw;
  height: 2.5vw;
  border: 1px solid #424242;
  border-radius: 50%;
  cursor: pointer;
}

/* Media Querries */

@media screen and (min-width: 1201px) and (max-width: 1920px) {
  /* top banner querries */
  header .top-banner svg {
    width: 2.5vw;
  }

  header .top-banner p {
    font-size: 1.25vw;
  }

  header .top-banner button {
    font-size: 0.8vw;
    padding: 0.6vw 1vw;
    border-radius: 0.8vw;
  }

  /* nav querries */

  header nav {
    display: normal;
  }

  header nav .nav-in-wrap {
    width: 1200px;
    padding: 0.5vw 3vw;
  }

  header nav .left-side-nav {
    gap: 1.5vw;
  }

  header nav .right-side-nav {
    gap: 2.5vw;
  }

  header nav .right-side-nav .nli {
    font-size: 1vw;
    padding: 0.4vw 1vw;
    border-radius: 0.8vw;
  }

  header nav .right-side-nav .nsu {
    font-size: 1vw;
    padding: 0.4vw 1vw;
    border-radius: 0.8vw;
  }

  /* main querries */

  /* hero querries */

  main .hero {
    justify-content: center;
    padding: 0 3vw;
  }

  main .hero-left {
    width: 600px;
  }

  main .hero-right {
    width: 600px;
  }

  /* section 1 querries */

  main .section-1-img-div {
    height: 25vw;
  }

  main .section1 {
    align-items: center;
  }

  main .section-1-text-div {
    width: 1000px;
  }

  main .section-1-card-div {
    width: 1000px;
  }

  main .section1 h1 {
    font-size: 2vw;
  }

  main .section-1-card {
    width: 38%;
    padding: 1.5vw;
  }

  main .section-1-card h3 {
    font-size: 1.5vw;
  }

  main .section-1-card p {
    font-size: 1.2vw;
  }

  main .section-1-card button {
    font-size: 1.2vw;
  }

  /* section 2 querries */

  main .sectoin2 .section-2-wrap {
    width: 1150px;
  }

  main .sectoin2 h1 {
    font-size: 2vw;
  }

  main .sectoin2 .location-name-tag {
    font-size: 1.5vw;
  }

  /* section 3 querries */

  main .secttion3 .section-3-wrap {
    width: 1150px;
  }

  main .secttion3 h1 {
    font-size: 2vw;
  }

  main .secttion3 .section-3-download-section-left-side h2 {
    font-size: 1.5vw;
  }

  main .secttion3 .section-3-download-section-left-side p {
    font-size: 1.2vw;
  }

  main .secttion3 .section-3-wrap > img {
    width: 35vw;
    right: 0;
  }

  /* section 4 querries */

  main .section-4-img-div {
    height: 25vw;
  }

  main .section4 {
    align-items: center;
  }

  main .section-4-text-div {
    width: 1000px;
  }

  main .section-4-card-div {
    width: 1000px;
  }

  main .section4 h1 {
    font-size: 2vw;
  }

  main .section-4-card {
    width: 38%;
    padding: 1.5vw;
  }

  main .section-4-card h3 {
    font-size: 1.5vw;
  }

  main .section-4-card p {
    font-size: 1.2vw;
  }

  main .section-4-card button {
    font-size: 1.2vw;
  }

  /* section 5 querries */

  main .section-5-wrap {
    width: 1150px;
  }

  /* footer querries */

  footer .footer-wrap {
    width: 1150px;
  }

  footer .footer-wrap p {
    font-size: 1.3vw;
  }

  footer .footer-wrap ul li {
    font-size: 1.3vw;
  }
}

/* Media Querries from 960 to 1200 */

@media screen and (min-width: 960px) and (max-width: 1200px) {
  /* top banner querries */

  header .top-banner svg {
    width: 3vw;
  }

  header .top-banner p {
    font-size: 1.5vw;
  }

  header .top-banner button {
    font-size: 1.1vw;
    padding: 0.8vw 1.2vw;
    border-radius: 1vw;
  }

  /* nav querries */

  header nav {
    display: normal;
  }

  header nav .nav-in-wrap {
    width: 100vw;
    padding: 0.5vw 3vw;
  }

  header nav .left-side-nav {
    gap: 1.5vw;
  }

  header nav .right-side-nav {
    gap: 2.5vw;
  }

  header nav .right-side-nav .nli {
    font-size: 1.4vw;
    padding: 0.7vw 1.4vw;
    border-radius: 0.8vw;
  }

  header nav .right-side-nav .nsu {
    font-size: 1.4vw;
    padding: 0.7vw 1.4vw;
    border-radius: 0.8vw;
  }

  /* main querries */

  /* hero querries */

  main .hero {
    justify-content: center;
    padding: 0 3vw;
  }

  main .hero-left {
    width: 60vw;
  }

  main .hero-right {
    width: 40vw;
  }

  main .hero-left h1 {
    font-size: 2.5vw;
  }

  .search-div input {
    font-size: 1vw;
    padding: 1vw 0;
  }

  .search-div p {
    font-size: 1.4vw;
  }

  .search-div h6 {
    font-size: 1.4vw;
  }

  .search-div svg {
    right: 8vw;
    top: 0.3vw;
  }

  .search-location-div button {
    font-size: 1.4vw;
    padding: 0.8vw 1.4vw;
    border-radius: 0.8vw;
  }

  /* section 1 querries */

  main .section-1-img-div {
    height: 35vw;
  }

  main .section1 {
    align-items: center;
  }

  main .section-1-text-div {
    width: 80vw;
  }

  main .section-1-card-div {
    width: 80vw;
  }

  main .section1 h1 {
    font-size: 2.5vw;
  }

  main .section-1-card {
    width: 48%;
    padding: 1.5vw;
  }

  main .section-1-card h3 {
    font-size: 1.8vw;
  }

  main .section-1-card p {
    font-size: 1.5vw;
  }

  main .section-1-card button {
    font-size: 1.5vw;
    padding: 0.8vw 1.4vw;
    border-radius: 0.8vw;
  }

  /* section 2 querries */

  main .sectoin2 .section-2-wrap {
    width: 95vw;
  }

  main .sectoin2 h1{
    font-size: 2.4vw;
  }

  main .sectoin2 .section-2-locations-div {
    grid-template-columns: repeat(3, 1fr);
  }

  main .sectoin2 h1 {
    font-size: 2.3vw;
  }

  main .sectoin2 .location-name-tag {
    font-size: 1.8vw;
  }

   /* section 3 querries */

   main .secttion3 .section-3-wrap {
    width: 93vw;
  }

  main .secttion3 h1 {
    font-size: 2.7vw;
  }

  main .secttion3 .section-3-download-section-left-side h2 {
    font-size: 2.2vw;
  }

  main .secttion3 .section-3-download-section-left-side p {
    font-size: 1.9vw;
  }

  main .secttion3 .section-3-wrap > img {
    width: 40vw;
    right: 0;
  }

  main .secttion3 .section-3-download-section-left-side h2 {
    font-size: 2vw;
  }

  main .secttion3 .section-3-download-section-left-side p {
    font-size: 1.5vw;
  }
}
